.section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.labelsBlock {
  display: flex;
  flex-direction: column;
}

.labelsContainer {
  display: flex;
  gap: 2rem;
}

.otherDays {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}